<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My account</title>
    <link rel="stylesheet" href="account_details_style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container light-style flex-grow-1 container-p-y">
      <h4 class="font-weight-bold py-3 mb-4">
        <center>My Account</center>
      </h4>
      <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light">
          <div class="col-md-3 pt-0">
            <div
              class="list-group list-group-flush account-settings-links blue-bg"
            >
              <a
                class="list-group-item list-group-item-action active"
                data-toggle="list"
                href="#account-general"
                >General</a
              >
              <a
                class="list-group-item list-group-item-action"
                data-toggle="list"
                href="#account-change-password"
                >Change password</a
              >
              <a
                class="list-group-item list-group-item-action"
                data-toggle="list"
                href="#account-info"
                >Info</a
              >
            </div>
          </div>
          <div class="col-md-9">
            <div class="tab-content">
              <div class="tab-pane fade active show" id="account-general">
                <hr class="border-light m-0" />
                <div class="card-body">
                  <div class="form-group">
                    <label class="form-label">Username</label>
                    <input
                      type="text"
                      class="form-control mb-1"
                      placeholder="username"
                      name="username"
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="name"
                      name="name"
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label">E-mail</label>
                    <input
                      type="text"
                      class="form-control mb-1"
                      placeholder="abcd@mail.com"
                      name="email"
                    />
                    <!-- <div class="alert alert-warning mt-3">
                                        Your email is not confirmed. Please check your inbox.<br>
                                        <a href="javascript:void(0)">Resend confirmation</a>
                                    </div> -->
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="account-change-password">
                <div class="card-body pb-2">
                  <div class="form-group">
                    <label class="form-label">Current password</label>
                    <input type="password" class="form-control" name="currpass"/>
                  </div>
                  <div class="form-group">
                    <label class="form-label">New password</label>
                    <input type="password" class="form-control" name="newpass" />
                  </div>
                  <div class="form-group">
                    <label class="form-label">Repeat new password</label>
                    <input type="password" class="form-control" name="new1pass" />
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="account-info">
                <div class="card-body pb-2">
                  <div class="form-group">
                    <label class="form-label">Bio</label>
                    <textarea
                      class="form-control"
                      rows="5"
                      placeholder="Enter your bio here"
                    ></textarea>
                  </div>

                  <div class="form-group">
                    <label class="form-label">Birthday</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="May 3, 1995"
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label">State</label>
                    <select class="custom-select">
                      <option>Andhra Pradesh</option>
                      <option>Arunachal Pradesh</option>
                      <option>Assam</option>
                      <option>Bihar</option>
                      <option>Chhattisgarh</option>
                      <option>Goa</option>
                      <option>Gujarat</option>
                      <option>Haryana</option>
                      <option>Himachal Pradesh</option>
                      <option>Jharkhand</option>
                      <option>Karnataka</option>
                      <option>Kerala</option>
                      <option>Madhya Pradesh</option>
                      <option>Maharashtra</option>
                      <option>Manipur</option>
                      <option>Meghalaya</option>
                      <option>Mizoram</option>
                      <option>Nagaland</option>
                      <option>Odisha</option>
                      <option>Punjab</option>
                      <option>Rajasthan</option>
                      <option>Sikkim</option>
                      <option>Tamil Nadu</option>
                      <option>Telangana</option>
                      <option>Tripura</option>
                      <option>Uttar Pradesh</option>
                      <option>Uttarakhand</option>
                      <option>West Bengal</option>
                      <option>Andaman and Nicobar Islands</option>
                      <option>Chandigarh</option>
                      <option>Dadra and Nagar Haveli and Daman and Diu</option>
                      <option>Delhi</option>
                      <option>Lakshadweep</option>
                      <option>Puducherry</option>
                    </select>
                  </div>
                </div>
                <hr class="border-light m-0" />
                <div class="card-body pb-2">
                  <h6 class="mb-4">Contacts</h6>
                  <div class="form-group">
                    <label class="form-label">Phone</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="+0 (123) 456 7891"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form
        action="{{ url_for('save_changes') }}"
        method="POST"
        id="account-settings-form"
      >
        <div class="text-right mt-3">
            <button type="submit" class="btn btn-primary">Save changes</button>

          <button type="button" class="btn btn-default">Cancel</button>
        </div>
      </form>
    </div>
    <script
      data-async="false"
      src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
    ></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById('account-settings-form').addEventListener('submit', function (event) {
                event.preventDefault();
                this.submit();
            });
        });
    </script>
  </body>
</html>
